.choose-services{
    h4{
        font-size: 26px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    ul{
        li {
            position: relative;
            &:before{
                content: " ";
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                top: 13px;
            }
            a {
                font-size: 14px;
                color: #fff;
                padding: 8px 0 8px 15px;

            }
        }
    }
}
form{
    .btn-wrapper{
        padding: 15px 0;
        border: 1px solid transparent;
    }
    .form-check{
        padding: 15px 0;
        border-bottom: 2px solid rgba(255,255,255,0.6);
        label{
            margin: 0;
        }
    }
}