.my-work{
    margin-top: 20px;
}

.project-wrapper{
    text-align: center;
    .project-img{
        background: #37325a;
        padding: 30px;
    }
    h5{
        font-size: 16px;
        padding: 8px 0;
    }
}
