//Background Image Mixin

@mixin bgImage($name) {
    background-image: url(../../images/#{$name}.png);
}

@mixin boxShadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
}

@mixin absoluteFull {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
//blur effetc mixin
@mixin blur($blur){
    filter:blur($blur); 
    -webkit-filter:blur($blur); 
}

//These mixin for Circle and Circle animations....
@mixin back_circle($d,$size){
    .circle-#{$size}{
        width: $d;
        height: $d;
        border: 2px solid rgba(255,255,255,0.1);
        border-radius: 50%;
        position: absolute;
        top: calc(50% - #{$d / 2});
        left: calc(50% - #{$d / 2});
        &:before{
            // content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: -10PX;
            left: 50%;
            opacity: 0.6
        }
        @content;
    }
    

}



@mixin banner_box($r,$bdrColor,$rounded,$cirColor :'blue') {
    width: $r + px; 
    height: $r + px;  
    border: 3px solid $bdrColor; 
    background:rgba(0, 0, 0,0.1);
    border-radius: 50%; 
    position: absolute;
    @if $cirColor == 'blue' {
        @include boxShadow(0,5px,51px,rgba(8,58,123,0.75) );
    }@else if $cirColor == 'navy'{
        @include boxShadow(0,5px,51px,rgba(0,255,161,0.75) );
    }@else{
        @include boxShadow(0,5px,51px,rgba(0,0,0,0.75) );
    }
}

@mixin shape_content( $r,$bdrColor, $cirColor :'blue'){
    width: $r + px; 
    height: $r + px; 
    border: 3px solid $bdrColor; 
    background:rgba(0, 0, 0,0.1);
    position: absolute;
    @if $cirColor == 'blue' {
        @include boxShadow(0,5px,51px,rgba(8,58,123,0.75) );
    }@else if $cirColor == 'navy'{
        @include boxShadow(0,5px,51px,rgba(0,255,161,0.75) );
    }@else{
        @include boxShadow(0,5px,51px,rgba(0,0,0,0.75) );
    }
}


@mixin shape($r,$bdrColor,$rounded : 'circle',$cirColor :'blue') {
    
        @if $rounded == 'circle' {
            .circle-#{$cirColor}{
                border-radius: 50%;
                @include shape_content($r,$bdrColor,$cirColor);
                @content;
            }
    
        }@else if $rounded == 'rect'{
            .square-#{$cirColor} {
                @include shape_content($r,$bdrColor,$cirColor);
                @content;
            }
        }

    }